html { height: 100% }
body { height: 100%; margin: 0; padding: 0}

#map-canvas {
 height: 100%;
 width: 100%;
} 

#legend {
 display: none;
 background: white;
 opacity:0.8;
 padding: 10px;
 margin: 10px;
 border: solid 1px #ddd;
}

#legend select {
  margin-top: .5em;
}

